body {
  background-color: rgba(128, 128, 128, 0.734);
  text-align: center;
}

.button1 {
  background-color:red;
}

#print, button{
  margin-bottom: 35px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Phones (portrait) */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 900px) {
  .container {
    padding: 20px;
  }
}

/* Laptops and small desktops */
@media (min-width: 901px) and (max-width: 1200px) {
  .container {
    padding: 30px;
  }
}

/* Large desktops */
@media (min-width: 1201px) {
  .container {
    padding: 40px;
  }
}
